.topnav {
    overflow: hidden;
    margin: auto;
    width: 99%;
    padding: 5px;
  }
  .topnav a {
    background-color: white;
    float: right;
    color: black;
    text-align: center;
    padding: 19px 14px;
    text-decoration: none;
    font-size: 17px;
  }
 
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #D28835;
    color: white;
  }  
  .topnav .logo-link{
    margin: auto;
    padding: 1px 1px;
    float: left;
    background-color: transparent;
  }