.topnav {
    overflow: hidden;
    margin: auto;
    width: 99%;
    padding: 5px;
  }
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 19px 14px;
    text-decoration: none;
    font-size: 17px;
  }
 
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    color: black;
  }  
  .topnav .logo-link{
    margin: auto;
    padding: 1px 1px;
    float: left;
    background-color: transparent;
  }
  #meny-bar-farge{
    background-color: rgb(255, 204, 0);
  }
  /*Inspirert fra W3Schools https://www.w3schools.com/howto/howto_js_topnav.asp*/