/* Poc-headermenu makes the foundation for the menubar. */
.poc-headermenu{
    background-color: rgb(228, 200, 123);
    /* Sets display to flex which allows us to decide where to place items */
    display: flex;
    /* centers items to middel of screen vertically */
    justify-content: center;
    /* Creats a darker yellow line underneath the menubar */
    border-bottom: 4px solid rgb(184, 150, 15);
 }
 /* Poc-navKnapp makes the foundation of how big the buttons on our menu bar will be */
 .poc-navKnapp{
    /* How much room between top of menu bar and text */ 
    padding-top: 1.5rem;
    /* How much room between bottom of menu bar and text */ 
    padding-bottom: 1.5rem;
 }
 /* Changes color when hovering over navKnapp */
 .poc-navKnapp:hover{
    background-color: rgb(184, 150, 15);
 }
 /* Poc-navKnapp sets rules for how each button on menu bar will look */
 .poc-navKnapp a{
    /* No underline under text */
    text-decoration: none; 
    color: black;
    font-size: 1.5rem;
    /* Sets room between buttons which changes depending on screen size  */
    padding: 1.5rem;
 }
 /* sets color to dark yellow */
 .poc-navKnapp .active{
    background-color: rgb(184, 150, 15);
 }
 /* Sets rules for how the everything within the header tag works */
 header{
    /* Sticks to the screen */
    position: sticky;
    /* places header on the top of the screen */
    top: 0;
 }
/* Sets rules for how everything within the body tag works */
body{
    background-color: rgb(223, 214, 167);
    /* body fills out entire screen */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;       
}
/* Sets rules for how everything within the h1 tag works */
h1{
    font-size: 4rem;    
}
/* h2 har en skrift størrelse på 75px. */
h2{
    font-size: 3rem;
}
/* font-size er 1.35vw som gjør at den justerer seg etter størrelsen på skjermen
og teksten justerer seg etter størrelsen på skjermen og har en bredde på 600px */
.poc-text{
    font-size: 1.35rem;
}
/* Makes the foundation for containers placed in a row */
.poc-row-container{
    text-align: center;
    border-bottom: 1px;
}
/* Makes a grid container and sets rules for it */
.poc-row-grid2{
    /* Sets display to grid */ 
    display: grid;
    /* Make the grid in to two columns and sets the width to 40% on both */
    grid-template-columns: 40% 40%;
    /* Sets the gap between the columns to 10px */
    column-gap: 10px;
    /* Centers text and images in their columns */
    justify-content: center;
    justify-items: center;
}
/* Makes text start from the left side */
.text-left{
    text-align: left;
}
/* Adjusts pictures to size of screen */
.poc-img{
    /* Covers entiere container */
    object-fit: cover;
    /* Width and height is at 80% */
    height: auto;
    width: 80%;
}
/* Sets background color */
.BGBlue{
    background-color: rgb(124,152,228);

}
/* Sets background color */
.BGTeal{
    background-color: rgb(124,228,200);

}
/* Sets font size */
.cite-size{
    font-size: 1rem;
}
/* Sets rules for how items in the footer tag works */
footer{
    display: flex;
    justify-content: center;
    /* Sets footer at the bottom of the page */
    bottom: 0;
    /* Sets how much room there is around the items in footer */
    padding: 1.5rem 0 3rem 0;

    background-color: rgb(228, 200, 123);
    border-top: 4px solid rgb(184, 150, 15);

    font-size: 1.3rem;
    text-align: center;
 }
/* @Media adjusts content depending on screen size */
@media all and (max-width: 1000px) {
/* Header dosent stick to screen anymore but stays on the top of the page */
header{
    position: static;
}
/* Menu bar isnt in place horizontally but vertically */
.poc-headermenu{
    flex-direction: column;
    align-items: center;
}

    /* h1 changes font size */
    h1{
        font-size: 50px;
    }
    /* h2 changes font size */
    h2{
        font-size: 25px;
    }
    /* p changes how much room it takes up horizontally */
    p{
        width: 400px;
    }
    /* content in containers stacks vertically instead horizontally */
    .poc-row-grid2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
